---
layout: page
title: Disclaimer
description: The disclaimer for all content on my website.
---

<ol>
    <li><a href="#opinions">Opinions</a></li>
    <li><a href="#technical-details">Technical details</a></li>
</ol>

{% include heading.html level=3 text="Opinions" %}

<p>All expressed <a href="/Tag:Opinion">opinions</a> on this site are my own. Aditionally, <b>my views are not permanent</b>. To improve, accepting new ideas and opinions is important.</p>
<p>Posts express my views from the time of writing them. These opinions <i>may</i> have changed since then. A post only is a snapshot of various thoughts of mine at the time I wrote it.</p>

{% include heading.html level=3 text="Technical details" %}

<p>I sometimes publish technical posts. They describe a process which <i>worked for me</i> at the time of writing. They are not <i>the correct</i> way to archieve a certain goal. Before following along any of my technical posts, ensure that you have a basic understanding of the post's topic.</p>
<p>I can not be held liable for any damage to systems, data or else.</p>
