---
layout: default
title: Disclaimer
description: Disclaimer about content on konstantintutsch.de
---

<h2>Disclaimer</h2>

<ol>
    <li><a href="#1-opinions">Opinions</a></li>
    <li><a href="#2-technical-details">Technical details</a></li>
</ol>

{% include heading.html level=3 text="1. Opinions" %}

<p>
All expressed <a href="/Tag:Opinion">opinions</a> on this site are my own. Aditionally, <b>my views are not permanent</b>. To improve, accepting new ideas and opinions is important.<br>
<br>
Posts express my views from the time of writing them. These opinions <i>may</i> have changed since then. A post only is a snapshot of various thoughts of mine at the time I wrote it.
</p>

{% include heading.html level=3 text="2. Technical details" %}

<p>
I sometimes publish technical posts. They describe a process which <i>worked for me</i> at the time of writing. They are not <i>the correct</i> way to archieve a certain goal. Before following along any of my technical posts, ensure that you have a basic understanding of the post's topic.<br>
<br>
I can not be held liable for any damage to systems, data or else.
</p>
