---
layout: default
---
<header>
    <a class="icon-link" href="{{ download }}"><img alt="Icon of {{ title }}" src="{{ site.assets.images }}{{ icon }}"></a>
    <h1 id="title">{{ title }}</h1>
</header>
<main>
    <article>
        {{ content | safe }}

        {% if orientation %}
        {% set rotate = orientation %}
        {% else %}
        {% set rotate = "horizontal" %}
        {% endif %}

        {% if images %}
        {% image images[0], "{{ title }} in light mode", "Light Mode", rotate %}
        {% image images[1], "{{ title }} in dark mode", "Dark Mode", rotate %}
        {% endif %}
    </article>
</main>
<footer>
    <a class="download-link" href="{{ download }}"><img width="240" alt="Get it on Flathub" src="https://flathub.org/api/badge?locale=en"></a>
    <hr>
    {% if weblate %}
    <p class="info"><a data-umami-event="Weblate-{{ title }}" href="https://hosted.weblate.org/engage/{{ weblate }}/">Translate via Weblate</a></p>
    {% endif %}
    <p class="info"><a data-umami-event="GitHub-{{ title }}" href="/github/{{ title }}">Contribute via GitHub</a></p>
    <p class="info"><a data-umami-event="nav-home" href="{{ "home.md" | inputPathToUrl }}">Visit {{ site.domain }}</a></p>
</footer>
