&copy; {{ site.author }}: <a data-umami-event="cc-by-sa-4.0" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> – <a href="{{ "disclaimer.md" | inputPathToUrl }}">Disclaimer</a>, <a href="{{ "privacy.md" | inputPathToUrl }}">Privacy</a>
