{% set favicon = [site.assets.images, "favicon.svg"] | join %}
{% set sizes = favicon | favicon %}
{% set favicon = favicon | replace(".svg", "") %}
{% if not images %}
    {% set preview = "banner.png" %}
{% else %}
    {% set preview = images[0] %}
{% endif %}
{% set preview = preview | thumbnail %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, minimal-ui">
        <meta name="generator" content="Eleventy">

        <!-- Site -->
        <meta property="og:site_name" content="{{ site.title }}">
        {% if layout == "app" %}
        <meta property="og:logo" content="{{ site.assets.images }}{{ icon }}">
        {% else %}
        <meta property="og:logo" content="{{ favicon }}.svg">
        {% endif %}

        <!-- Page -->
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <title>{{ title }}{% if title != site.title and layout != "app" %} | {{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ site.url }}{{ preview }}">
        {% if layout == "post" %}
        <meta property="og:type" content="article">
        <meta property="og:article:author" content="{{ site.author }}">
        <meta property="og:article:published_time" content="{{ date | isoDate }}">
        <meta property="og:article:expiration_time" content="{{ date | isoDate }}">
        {% else %}
        <meta property="og:type" content="website">
        {% endif %}

        <!-- Mastodon -->
        {% if layout == "post" %}
        <meta name="fediverse:creator" content="{{ social.fediverse.value }}">
        {% endif %}
        <link rel="me" href="{{ social.fediverse.url }}">

        <!-- Icons -->
        {% if layout == "app" %}
        <link rel="icon" href="{{ site.assets.images }}{{ icon }}" type="image/svg+xml" sizes="any">
        {% else %}
        <link rel="icon" href="{{ favicon }}.svg" type="image/svg+xml" sizes="any">
        {% for size in sizes %}
        <link rel="icon" href="{{ favicon }}-{{ size }}.png" type="image/png" sizes="{{ size }}x{{ size }}">
        {% endfor %}
        <link rel="apple-touch-icon" href="{{ favicon }}-180.png" type="image/png" sizes="180x180">
        {% endif %}

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

        {% if special != true %}
        <!-- CSS -->
        <link rel="preload stylesheet" href="{{ site.assets.css }}root.css" as="style" type="text/css">
        <link rel="preload stylesheet" href="{{ site.assets.css }}structure.css" as="style" type="text/css">
        {% if layout == "app" %}
        <link rel="preload stylesheet" href="{{ site.assets.css }}app.css" as="style" type="text/css">
        {% endif %}
        {% if layout == "post" or layout == "app" %}
        <link rel="preload stylesheet" href="{{ site.assets.css }}blog.css" as="style" type="text/css">
        {% else %}
        <link rel="preload stylesheet" href="{{ site.assets.css }}preview.css" as="style" type="text/css">
        {% endif %}
        {% endif %}

        {% if environment.eleventy == "production" %}
        <!-- Umami | Anonymous & Self-hosted analytics -->
        <script async src="https://analytics.konstantintutsch.com/script.js" data-website-id="7cafd9de-97a0-4d9e-85c1-494943d81dc1"></script>
        {% endif %}
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
