{% if not images %}{% set image = "banner.webp" %}{% else %}{% set image = images[0] %}{% endif %}
<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, minimal-ui">
        <meta name="generator" content="Eleventy">

        <!-- SEO -->
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        <title>{{ title }}{% if title != site.title %} | {{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ description }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ site.url }}{{ site.assets.images }}{{ image }}">
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:description" content="{{ description }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:image" content="{{ site.url }}{{ site.assets.images }}{{ image }}">
        <meta name="twitter:description" content="{{ description }}">

        <!-- Icons -->
        {% set faviconPath = [site.assets.images, "favicon.svg"] | join %}
        {% transformFavicon faviconPath, site.assets.images %}
        {% set faviconBase = faviconPath | replace(".svg", "") %}
        <link rel="icon" href="{{ faviconBase }}-48.png" type="image/png" sizes="48x48">
        <link rel="icon" href="{{ faviconBase }}-96.png" type="image/png" sizes="96x96">
        <link rel="icon" href="{{ faviconBase }}-144.png" type="image/png" sizes="144x144">
        <link rel="icon" href="{{ faviconBase }}-192.png" type="image/png" sizes="192x192">
        <link rel="icon" href="{{ faviconPath }}" type="image/svg+xml" sizes="any">
        <link rel="apple-touch-icon" href="{{ faviconBase }}-180.png" type="image/png" sizes="180x180">
        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

        <!-- CSS -->
        <link rel="preload stylesheet" href="{{ site.assets.css }}root.css" as="style" type="text/css">
        {% if layout != "gallery" %}
        <link rel="preload stylesheet" href="{{ site.assets.css }}blog.css" as="style" type="text/css">
        {% else %}
        <link rel="preload stylesheet" href="{{ site.assets.css }}gallery.css" as="style" type="text/css">
        {% endif %}

        {% if environment.eleventy == "production" %}
        <!-- Umami | Anonymous & Self-hosted analytics -->
        <script async src="https://analytics.konstantintutsch.com/script.js" data-website-id="7cafd9de-97a0-4d9e-85c1-494943d81dc1"></script>
        {% endif %}
    </head>
    <body>
        <header>
            <h1 class="hidden">{{ site.title }}</h1>
        </header>
        <main>
            {{ content | safe }}

            <!-- Mastodon verification -->
            {% social "fediverse", "", "hidden", "", "" %}
        </main>
        <footer>
        </footer>
    </body>
</html>

