---
layout: default
---
<header>
    <h1 id="title">{{ title }}</h1>
    <hr>
</header>
<main>
    <article>
        {{ content | safe }}
    </article>
</main>
<footer>
    <hr>
    {% if permalink == "/" %}
    <p class="info">{% include "copyright.njk" %}</p>
    {% else %}
    <p class="info">{% include "nav-home.njk" %}</p>
    {% endif %}
</footer>
