---
layout: default
---
<header>
    <div class="post-head">
        <p class="post-date">{{ date | stringDate }}</p>
        <p class="post-home">{% include "nav-home.njk" %}</p>
    </div>
    <h1 id="title" class="post-title">{{ title }}</h1>
    <hr>
</header>
<main>
    {% set age = date | age %}
    {% set expire = 1000*60*60*24*30*12 %}
    {% if age >= expire %}
    <p>This post is older than one year. It may contain <b>outdated information</b> or <a href="{{ "disclaimer.md" | inputPathToUrl }}"><b>opinions I no longer hold</b></a> and may not be an adequate guide anymore.</p>

    <hr>
    {% endif %}

    <article>
        <h2 class="hidden">{{ title }}</h2>

        {{ content | safe }}
    </article>

    {% if footnotes %}
    <hr>

    <h2 id="footnotes"><a class="silent" href="#footnotes">Footnotes</a></h2>

    <ol>
    {% for footnote in footnotes %}
        <li><p id="fn-{{ loop.index }}" class="footnote">{{ footnote | urlize | safe }}</p></li>
    {% endfor %}
    </ol>
    {% endif %}
</main>
<footer>
    <hr>
    <p class="info">{% include "nav-blog.njk" %}</p>
    <p class="info"><a href="{{ "feed.njk" | inputPathToUrl }}">Subscribe via RSS</a></p>
    <p class="info">Tags: {% for tag in tags %}{% if tag != "post" %}<a data-umami-event="tag-{{ tag | slugify }}" href="{{ site.locations.tags }}{{ tag | slugify }}">{{ tag | capitalize }}</a>{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}</p>
    <p class="info">{% include "copyright.njk" %}</p>
</footer>
