---
layout: default
---
{% set relativePath = page.inputPath | replace("./", "") %}
{% set github = ["/Website/edit/main/", relativePath] | join %}
{% set mailto = ["?subject=Post: ", title] | join | escape %}
<article>
    <div class="post-head">
        <p class="post-date">{{ date | stringDate }}</p>
        <p class="post-home">{% include "nav-home.njk" %}</p>
    </div>
    <h2 class="post-title">{{ title }}</h2>

    <hr>

    {{ content | safe }}
</article>

{% if references %}
<hr>

<h3>References</h3>

<ol>
{% for reference in references %}
    <li><a class="reference" id="{{ loop.index }}" href="{{ reference }}">{{ reference }}</a></li>
{% endfor %}
</ol>
{% endif %}

<hr>

<p class="info"><a href="/feed.xml">Subscribe via RSS</a></p>
<p class="info">{% social "github", "Edit on GitHub", "", github, "edit-post" %}</p>
<p class="info">{% social "mail", "Reply by email", "", mailto, "reply-email" %}</p>
<p class="info">{% social "fediverse", "Comment via Mastodon", "", "", "" %}</p>
<p class="info">Tags: {% for tag in tags %}{% if tag != "post" %}<a data-umami-event="tag-{{ tag | slugify }}" href="{{ site.locations.tags }}{{ tag | slugify }}">{{ tag | capitalize }}</a>{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}</p>
<p class="info">{% include "copyright.njk" %}</p>
