*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
src/assets/images/code-after-com.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/ipv6-port-forwarding-fritzbox-ip-addr.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/ipv6-port-forwarding-fritzbox-ipv6-interface-id.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/ipv6-port-forwarding-fritzbox-nm-connection.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/umami-add-website.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/umami-create-user.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/umami-login.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/umami-script.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/website-after-com.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/website-before-com.webp filter=lfs diff=lfs merge=lfs -text
