---
layout: default
permalink: /
title: Konstantin Tutsch
description: Welcome to Konstantin Tutsch's website. Discover lots of information about me, contact options, my photography and my personal blog.
---

<h2>{{ site.owner }}</h2>

<p class="info">{% include social.html id="github" name="GitHub" %}</p>
<p class="info">{% include social.html id="mail" name="Email" %}</p>
<p class="info">{% include social.html id="fediverse" name="Mastodon" %}</p>

<hr>

{% for post in site.posts limit:10 %}
    {% include post.html post=post %}
{% endfor %}

<hr>

<p class="info">{% include all-posts.html %}</p>
