---
layout: default
title: Konstantin Tutsch
description: Welcome to Konstantin Tutsch's website. Discover lots of information about me, contact options, my photography and my personal blog.
---

{% include heading.html level=2 text=page.title %}

<article>
    <p class="description">Hi! My name is Konstantin Tutsch 👋, welcome to my website. Please let me introduce myself:</p>
    <p>I've got many interests, but I'm especially focused on <b>technology</b>, <b>photography</b> and <b>espresso</b>. I am a hobby photographer and am learning programming <i>(C at the moment)</i>.</p>
    <ul>
    {% for page in site.data.navigation.home %}
    <li><a data-umami-event="Introduction {{ page.name }}" href="{{ page.path }}">{{ page.name }}</a> – {{ page.desc }}</li>
    {% endfor %}
    </ul>
</article>

{% include heading.html level=3 text="Recent posts" %}

<p class="description">For those interested in my blog …</p>

{% for post in site.posts limit:site.newest %}
    {% include preview.html post=post %}
{% endfor %}

<a class="preview-title" data-umami-event="Introduction All posts" href="/blog/">All posts →</a>
