---
layout: default
title: Konstantin Tutsch
description: Welcome to Konstantin Tutsch's website. Discover lots of information about me, contact options, my photography and my personal blog.
---

<article>
    {% include heading.html level=2 text=page.title %}

    <p class="description">Hi! My name is Konstantin Tutsch 👋, welcome to my website</p>
    <p>This blog is mainly about <b>technology</b>, <b>photography</b> and <b>my opinion</b><sup><a href="{% link disclaimer.html %}#opinions">*</a></sup>. You can also visit my {% include social.html id="github" name="GitHub" %} profile 🚀</p>
    <ul>
    {% for page in site.data.navigation.home %}
    <li><a data-umami-event="nav-{{ page.name | slugify }}" href="{{ page.path }}">{{ page.name }}</a> – {{ page.desc }}</li>
    {% endfor %}
    </ul>
</article>

{% include heading.html level=3 text="Recent posts" %}

{% for post in site.posts limit:site.newest %}
    {% include preview.html post=post %}
{% endfor %}

<a class="preview-title" data-umami-event="nav-blog" href="{% link blog.html %}">All posts →</a>
