@import url('https://fontlibrary.org/face/cooper-hewitt');

body
{
  background-color: white;
  width: 100%;
  text-align: center;
}

a
{
  font-family: "CooperHewittBook"; 
  transition-duration: 0.4s;
	text-decoration: underline;
	color: #275b73;

}
a:hover
{
	color: #71a0b6;
}

p
{
  font-family: "CooperHewittBook"; 
  font-size: 1.33em;
  line-height: 1.25em;
  color: #5b5b5b;
}

h3
{
	font-family: "CooperHewittBook"; 
  font-size: 2em;
	color: #5b5b5b;
}

.no-break
{
  display: inline;
  width: 250px;
  height: 40px;
  padding: 10px;
}

#top
{
  position: absolute;
  top: 3%;
  width: 100%;
}
.avatar
{
  display: inline;
  border-radius: 100%;
  width: 32px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  vertical-align: middle;
}
.name
{
  display: inline;
  margin-left: 0.25%;
  margin-right: 0.25%;
  vertical-align: top; /* font Cooper Hewitt Book isn't align correctly, blank below characters; otherwise: vertical-align middle */
}

#middle
{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 80%;
  left: 10%;
  right: 10%;
}

#bottom
{
  position: absolute;
  bottom: 3%;
  width: 100%;
}
.social
{
  font-size: 1em;
  margin-left: 0.15%;
  margin-right: 0.15%;
}
.sites
{
  font-size: 1.33em;
  text-decoration: none;
  margin-left: 0.18%;
  margin-right: 0.18%;
  color: #555555;
  background-color: transparent;
  border: 2px solid #555555;
  padding: 3px 6px;
  border-radius: 5;
}
.sites:hover
{
  color:white;
  background-color: #555555;
}
.copyright
{
  font-size: 1em;
}
