---
eleventyExcludeFromCollections: true
layout: page
pagination:
    data: errors
    size: 1
    alias: error
permalink: "{{ site.locations.errors }}{{ error.code }}/"
eleventyComputed:
    title: "{{ error.code }}"
    description: "{{ error.description }}"
---

<p>{{ error.description }}</p>

<p class="info">{% social "webmaster", "", "", "", "" %}</p>
