---
pagination:
    data: collections
    size: 1
    alias: tag
layout: page
eleventyComputed:
    title: "Tag: {{ tag | capitalize }}"
    description: All posts tagged with “{{ tag }}”
permalink: "{{ site.locations.tags }}{{ tag | slugify }}"
---

{% set counter = 0 %}
{% for post in collections[tag] | reverse %}
    {% post post %}
    {% set counter = counter + 1 %}
{% endfor %}

<p class="info"><i>There {% if counter == 1 %}is{% else %}are a total of{% endif %} {{ counter }} {% if counter == 1 %}post{% else %}posts{% endif %} assigned to this <a data-umami-event="nav-tags" href="{{ site.locations.tags }}">tag</a>.</i></p>
