---
layout: default
title: Contact
description: How to contact Konstantin Tutsch, all options are listed on this page and kept updated.
---
{% include heading.html level=2 text="Contact" %}

<p id="description">
If you wish to reach me, all posibilities are listed here. 
</p>

{% include heading.html level=3 text="E-Mail" %}

<p>
You, of course, can contact me via email. I'll respond fairly quickly. E-Mail is also my preferred communication method for this blog. You can reach me at {% include social.html url="mail" name=site.email %}
</p>

{% include heading.html level=3 text="The Fediverse" %}

<p>
If you just want to quickly share a small though of yours with me, this is the place. The instance is hosted on my Raspberry Pi. Just tag me {% include social.html url="https://social.konstantintutsch.de/@konstantin" name="@konstantin@social.konstantintutsch.de" %}.<br>
</p>
