---
layout: page
title: Contact
description: If you wish to contact me, all options are listed on this page and kept updated.
emoji: 💬
---

{% include heading.html level=3 text="E-Mail" %}

<p>You, of course, can contact me via email 📧. I'll respond fairly quickly. E-Mail is also my preferred communication method for this blog. You can reach me at {% include social.html id="mail" %}</p>
<p>In case you want to encrypt 🔐 your email, here's my <a href="{% link assets/gpg.asc %}">public GPG key</a>. Use the mail address 🧾 encoded to the file. The one above is a changing alias so I can prevent spam, there is no GPG key for it.</p>

{% include heading.html level=3 text="The Fediverse" %}

<p>If you just want to quickly share a small though of yours 🧐 with me, this is the place. Just tag me {% include social.html id="fediverse" %}</p>
