---
layout: default
title: Contact
description: How to contact Konstantin Tutsch, all options are listed on this page and kept updated.
---
{% include heading.html level=2 text="Contact" %}

<p id="description">
If you wish to reach me, all posibilities are listed here. 
</p>

{% include heading.html level=3 text="E-Mail" %}

<p>
You, of course, can contact me via email. I'll respond fairly quickly. E-Mail is also my preferred communication method for this blog. <b>You can reach me at</b> {% include social.html url="mail" name=site.email %}
</p>

<p>
In case you want <b>to encrypt your email</b>, here's my <a href="{% link assets/gpg.asc %}">public GPG key</a>. Use the mail address encoded to the file.</b> The one above is a changing alias so I can prevent spam, there is <b>no</b> GPG key for it.
</p>

{% include heading.html level=3 text="The Fediverse" %}

<p>
If you just want to quickly share a small though of yours with me, this is the place. The instance is hosted on my Raspberry Pi. <b>Just tag me</b> {% include social.html url="https://cafe.konstantintutsch.com/@konstantin" name="@konstantin@cafe.konstantintutsch.com" %}<br>
</p>
