<div id="book">
    <ul>
        <li><b>✍️ Written by:</b> {{ include.author }}</li>
        {% if include.translator %}
            <li><b>🗣️ Translated by:</b> {{include.translator}}</li>
            <li><b>🧭 Origin:</b> {{ include.origin }}</li>
        {% endif %}
        <li><b>📖 Pages:</b> {{ include.pages }}</li>
        <li><b>🤯 Genre:</b> {{ include.genre }}</li>
        <li><b>📆 Published in:</b> {{ include.published }}</li>
        <li><b>🧐 My rating:</b> {% for star in (1..include.stars)%}★{% endfor %}{% for star in (include.stars..4)%}☆{% endfor %} <i>({{ include.stars }}/5)</i></li>
    </ul>
</div>

<h2>My opinion</h2>
