{% if page.image %}
    {% assign image = page.image %}
{% else %}
    {% assign image = "banner.webp" %}
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, minimal-ui">

<!-- SEO -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:image" content="{{ site.url }}/assets/images/{{ image }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:image" content="{{ site.url }}/assets/images/{{ image }}">
<meta name="twitter:description" content="{{ page.description }}">

<!-- Icons -->
<link rel="icon" href="/assets/images/favicon.webp" type="image/webp">
<link rel="apple-touch-icon" href="/assets/images/favicon.webp" type="image/webp">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.rss">

<!-- CSS -->
<link rel="preload stylesheet" href="/assets/css/style.css" as="style" type="text/css">
