<div id="top">
    <a id="site" href="/">
        <svg id="logo" viewBox="0 0 12.7 12.7">
            <g id="layer1" stroke="#000" stroke-linecap="square">
                <circle id="path788" cx="6.35" cy="6.35" r="5" fill="none"/>
                <path id="path1224" d="m1.6605 6.893 7.6874 3.1458"/>
                <path id="path1226" d="m10.426 8.4694-4.842-6.8633"/>
                <path id="path1240" d="m8.0537 6.223-0.44234 0.66357"/>
                <path id="path1242" d="m3.2493 6.9411 0.96239-0.76841"/>
                <path id="path2192" d="m9.7719 9.6868-7.1723-5.9957"/>
            </g>
        </svg>
        <h1 id="title">{{ site.title }}</h1>
    </a>
</div>
<nav>
    {% for item in site.data.navigation %}
        <a {% if page.url == item.path %}class="selected"{% endif %} href="{{ item.path }}">{{ item.name }}</a>
    {% endfor %}
</nav>
