---
layout: page
title: Now
description: What I'm currently doing!
emoji: ⏳
---

{% assign now = site.data.now.date %}
{% assign location = site.data.now.location %}
{% assign book = site.data.books.last %}

{% for item in site.data.now.activities %}
<p><b>{{ item.topic }}:</b> {% if item.content == "book" %}{{ book.title }} by {{ book.author }}{% else %}{{ item.content }}{% endif %}</p>
{% endfor %}

<small><i>Last updated on {{ now | date: "%B %-d, %Y" }} from {{ location }}</i></small>
<p></p>
<small><i>This is my <a href="https://nownownow.com/about">now page</a>, inspired by <a href="https://sive.rs/">Derek Sivers</a>.</i></small>
