---
layout: page
title: Links
description: Are you looking for something related to me? You will probably find it here. 🔖
---

{% include heading.html level=3 text="Website" %}

<ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/now/">Now</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/blogroll/">Blogroll</a></li>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/colophon/">Colophon</a>
    <li><a href="/privacy/">Privacy</a></li>
    <li><a href="/disclaimer/">Disclaimer</a></li>
    <li><a href="/feed.xml">RSS feed</a></li>
</ul>

{% include heading.html level=3 text="Support me" %}

<p>If you like what I've been doing, you can tip me a bit here. Thank you for your support ❤️</p>

{% include social.html id="ko-fi" name='<img src="https://storage.ko-fi.com/cdn/kofi1.png?v=3" alt="Buy Me a Coffee at ko-fi.com">' classes="image-link" %}

{% include heading.html level=2 text="Other" %}

<ul>
    <li>{% include social.html id="codeberg" name="Codeberg" %}</li>
    <li>{% include social.html id="fediverse" name="Fediverse <i>e. g. Mastodon</i>" %}</li>
    <li>{% include social.html id="github" name="GitHub" %}</li>
    <li>{% include social.html id="liberapay" name="LiberaPay" %}</li>
    <li>{% include social.html id="osm" name="OpenStreetMap" %}</li>
    <li>{% include social.html id="musicbrainz" name="MusicBrainz" %}</li>
</ul>
