.icon-link {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icon-link:hover, .download-link:hover {
    background: var(--background);
}
.icon-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    min-width: 128px;
    filter: drop-shadow(0.1vw 0.1vw 0.75rem rgba(204, 204, 204, 0.5));
}

h1 {
    text-align: center;
}

footer {
    margin-top: 2rem;
}
