/* Standard classes */
.image-link:hover {
    background: var(--background);
}
.image-link img {
    height: 2.6rem;
}

/* Post elements */
.post-head {
    display: flex;
    margin: 1rem auto 1rem auto;
    justify-content: space-between;
}
.post-date {
    order: 1;
    margin: 0 0 0 0;
    font-size: var(--small-text-size);
    font-weight: var(--bold);
    text-transform: uppercase;
}
.post-home {
    order: 2;
    margin: 0 0 0 0;
    font-size: var(--small-text-size);
    font-weight: var(--bold);
    text-transform: uppercase;
}
.post-title {
    margin: 0 auto 0 auto;
}

.image {
    margin: 2rem auto 3rem auto;
}
.image a img,
.image a picture img {
    margin: 0 auto 1rem auto;
    display: block;
    /* Eleventy (Image plugin) defines height,width within HTML */
    height: unset;
    width: unset;
    max-width: 100%;
}
.image-caption {
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
    font-size: var(--small-text-size);
}

blockquote {
    margin: 2rem auto 2rem 0;
    border-left: solid 0.2rem var(--gray);
    padding: 0.07rem 0 0.07rem 0;
}
blockquote p {
    margin-left: 1rem;
    color: var(--foreground);
    font-style: italic;
    font-size: 1.5rem;
}
blockquote p:last-of-type {
    font-style: normal;
    font-size: 1.2rem;
}

.footnote {
    overflow-wrap: break-word;
}
