.preview {
    margin-bottom: 1rem;
}
.preview-title {
    font-size: 1.6rem;
}
.preview-date {
    font-size: var(--small-text-size);
    text-transform: uppercase;
}
.preview-title + .preview-date {
    margin-top: 0;
}

@media only screen and (max-width: 750px) {
    /* Phone */
    .preview {
        margin-bottom: 0rem;
    }
}
