/* Global settings */
:root {
    --sans: "Cantarell", "Ubuntu", -apple-system, system-ui, BlinkMacSystemFont,
        "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial,
        Helvetica, "Helvetica Neue", sans-serif;
    --mono: "Fira Mono", "Source Code Pro", monospace;
    --text-size: 1.3rem;
    --small-text-size: 0.95rem;

    --bold: 800;
    --text-decoration: 0.07em;
    --border-size: 0.1rem;
    --fade-time: 0.3s;
}

/* Global colors */
:root {
    /* Light theme */
    --light-accent: #ed333b;
    --light-foreground: #333333;
    --light-background: white;
    --light-gray: #4e4e4e;

    /* Dark theme */
    --dark-accent: #ed333b;
    --dark-foreground: white;
    --dark-background: #1b1b1b;
    --dark-gray: #cccccc;

    /* Set default theme to light */
    --accent: var(--light-accent);
    --foreground: var(--light-foreground);
    --background: var(--light-background);
    --gray: var(--light-gray);
}
/* Auto-apply dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --accent: var(--dark-accent);
        --foreground: var(--dark-foreground);
        --background: var(--dark-background);
        --gray: var(--dark-gray);
    }
}

/* Apply root */
body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--sans);
    font-size: var(--text-size);
    -webkit-tap-highlight-color: transparent; /* use :hover color on mobile (Chrome) */
}

/* Typography */
p + p {
    margin-top: 1.7rem;
}

b {
    font-weight: var(--bold);
}

small {
    font-size: var(--small-text-size);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem auto 1rem 0;
}

a {
    color: inherit; /* no special highlighting for already clicked links */
    text-decoration: underline;
    text-decoration-thickness: var(--text-decoration);
    text-underline-offset: calc(var(--text-decoration) * 1.5);
    transition-duration: var(--fade-time);
}
a:hover,
.selected {
    background: var(--accent);
    color: var(--foreground);
    text-decoration: none;
}
a.silent {
    text-decoration: none;
}
a.silent:hover {
    background: var(--background);
    color: var(--foreground);
}

del {
    text-decoration-thickness: var(--text-decoration);
}

sup {
    font-size: 0.85rem;
}
sup a {
    text-decoration: none;
}

/* Standard classes */
.hidden {
    position: absolute;
    visibility: hidden;
    visibility: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 0;
    width: 0;
}

.invisible,
.invisible:hover {
    background: transparent;
    color: var(--foreground); /* remove link highlighting */
    text-decoration: none;
}
