/* Order */
body {
    margin: 1rem auto 1rem auto;
    left: 25vw;
    width: 50vw;
    text-align: left;
}

/* Navigation */
.info {
    font-size: var(--small-text-size);
}
.info + .info {
    margin-top: 0;
}

/* Standard */
li + li {
    margin: 0.8rem auto 0 0;
}
ul,
ol {
    margin: 1rem auto 2rem 0;
}

code {
    color: var(--gray);
    font-family: var(--mono);
    font-size: 0.85em;
}
pre {
    margin: 1rem 0 1rem 1rem;
    overflow-x: scroll;
}

/* Seperation */
hr {
    margin: 2rem 0 2rem 0;
    border-top: solid var(--foreground) var(--text-decoration);
}

@media only screen and (max-width: 750px) {
    /* Phone */
    body {
        left: 5vw;
        min-height: 60vh;
        width: 90vw;
    }

    hr {
        margin: 1.3rem 0 1.3rem 0;
    }
}
