---
layout: default
title: Privacy
description: Privacy policy for konstantintutsch.de
---
<h2>{{ page.title }}</h2>

<ol>
    <li><a href="#1-tracking">Tracking</a></li>
    <li><a href="#2-data-stored">Data stored</a></li>
    <li><a href="#3-hosting">Hosting</a></li>
</ol>

{% include heading.html level=3 text="1. Tracking" %}

<p>
This site does not use any tracking method.<br>
<br>
No data will be shared with third parties.<br>
</p>

{% include heading.html level=3 text="2. Data stored" %}

<p>
Metadata from HTTP requests <b>is</b> stored in the webserver's log.<br>
<br>
This includes:
<ul>
    <li>Requested file <i>(e. g. that you visited /privacy)</i></li>
    <li>User-Agent <i>(often your browser and OS with corresponding version)</i></li>
    <li>Client domain <i>(this could reveal your ISP)</i></li>
    <li>Referrer <i>(e. g. you visited from search engine X)</i></li>
</ul>
</p>

{% include heading.html level=3 text="3. Hosting" %}

<p>
This website is hosted on a <a href="https://strato.de" rel="nofollow">STRATO AG</a> managed hosting server in Germany. STRATO provides a WebUI for easy access to the log data.<br>
<br>
STRATO also retains the right to <b>access</b> and <b>process all log data</b>. See their <a href="https://www.strato.de/datenschutz/" rel="nofollow">privacy policy</a>.
</p>
