---
layout: page
title: Privacy
description: The privacy policy for my website.
---

<ol>
    <li><a href="#1-tracking">Tracking</a></li>
    <li><a href="#2-data-stored">Data stored</a></li>
    <li><a href="#3-hosting">Hosting</a></li>
</ol>

{% include heading.html level=3 text="1. Tracking" %}

<p>The website does not collect personal data.</p>

{% include heading.html level=3 text="2. Data stored" %}

<p>Anonymous metadata from HTTP requests <b>is</b> stored in the webserver's log.</p>
<p>This includes:</p>

<ul>
    <li>Requested file <i>(e. g. that someone visited /privacy)</i></li>
    <li>User-Agent <i>(which browser and OS visited)</i></li>
    <li>Client domain <i>(this could reveal the visitors ISP)</i></li>
    <li>Referrer <i>(e. g. someone visited after using search engine X)</i></li>
</ul>

{% include heading.html level=3 text="3. Hosting" %}

<p>The website is hosted on a <a href="https://strato.de" rel="nofollow">STRATO AG</a> managed hosting server in Germany.</p>
<p>STRATO retains the right to <b>access</b> and <b>process all log data</b>. See their <a href="https://www.strato.de/datenschutz/" rel="nofollow">privacy policy</a>.</p>
