---
layout: page
title: Privacy
description: The privacy policy for my website.
---

<ol>
    <li><a data-umami-event="privacy-data_stored" href="#data-stored">Data stored</a></li>
    <li><a data-umami-event="Privacy-analytics" href="#analytics">Analytics</a></li>
</ol>

{% include heading.html level=3 text="Data stored" %}

<p>Anonymous metadata from HTTP requests is stored in the webserver's log.</p>
<p>This includes:</p>

<ul>
    <li>Requested file <i>(e. g. that someone visited /privacy)</i></li>
    <li>User-Agent <i>(which browser and OS visited)</i></li>
    <li>Client domain <i>(this could reveal the visitors ISP)</i></li>
    <li>Referrer <i>(e. g. someone visited after using search engine X)</i></li>
</ul>

{% include heading.html level=3 text="Analytics" %}

<p>This website collects anonymous visitor data via a self-hosted <a data-umami-event="reference-umami" href="https://umami.is/">Umami</a> instance.</p>
<p>All collected data is publicly available <a data-umami-event="nav-analytics" href="https://analytics.konstantintutsch.com/share/AFfZHMqURVdvzboN/konstantintutsch.com">here</a>.</p>
