/* fonts */
@font-face {
    font-family: "Hack";
    font-style: normal;
    src: url("/assets/fonts/Hack-Regular.woff2") format("woff2");
    font-display: swap;
}



/* elements */
/* quotes */
blockquote {
    border-left: solid 0.3em var(--gray);
    padding: 0.07em 0 0.07em 0;
    margin: 3em auto 3em 0;
}
blockquote p {
    margin-left: 1em;
    font-style: italic;
    font-size: 1.7em;
    color: var(--gray);
}
blockquote p:last-of-type {
    font-style: normal;
    font-size: 1.2em;
}

/* code */
figure.highlight,
p code { font-family: "Hack", monospace; }

figure.highlight {
    overflow-x: scroll;
    margin: 0;
    font-size: 1.5em;
}
p code { font-size: 0.9em; }
del { text-decoration-thickness: 0.15em; }
/* code highlighting */
/* sql */
code.language-sql span.k { color: #2a7bde; }
code.language-sql span.s1 { color: #f66151; }
code.language-sql span.p { color: var(--foreground); }
code.language-sql span.n { color: var(--foreground); }
/* nginx */
code.language-nginx span.k { color: #af5f00; }
code.language-nginx span.p { color: var(--foreground); }
code.language-nginx span.kn { color: #33d17a; }
code.language-nginx span.mi { color: #c01c28; }
code.language-nginx span.s { color: #c061cb; }
code.language-nginx span.c1 { color: #12488b; }
code.language-nginx span.nv { color: #2aa1b3; }
/* shell */
code.language-shell span.nb { color: #af5f00; }
code.language-shell span.nt { color: #12488b; }
code.language-shell span.s2,
code.language-shell span.m,
code.language-shell span.kc,
code.language-shell span.s { color: #c01c28; }
code.language-shell span.k,
code.language-shell span.si,
code.language-shell span.nv { color: #2aa1b3; }
/* yml */
code.language-yaml span.na { color: #2aa1b3; }
code.language-yaml span.pi { color: #a347ba; }
code.language-yaml span.s2,
code.language-yaml span.m,
code.language-yaml span.kc,
code.language-yaml span.s { color: #c01c28; }
/* html */
code.language-html span.c { color: #12488b; }
code.language-html span.nt { color: #a2734c; }
code.language-html span.na { color: #26a269; }
code.language-html span.s { color: #c01c28; }

/* book */
.book {
    width: fit-content;
    height: fit-content;
    margin-top: 2em;
    border: solid var(--foreground) 0.2em;
}

/* spoilers */
#spoiler {
    background: #ffeea6;
    color: black;
    padding: 0.3em;
}



/* post layout */
/* tags */
#tags {
    display: inline-block;
    margin: 4em auto 3em 0;
}
#tags a { margin: 0.2em; }

/* reply to post */
.reply {
    text-align: center;
    border-top: solid var(--foreground) 0.1em;
}
.reply p {
    margin-left: 5vw;
    margin-right: 5vw;
}
