/* colors */

:root
{
    --accent: #3584e4;
    --foreground: black;
    --background: white;
    --gray: #dddddd;
}
/* when dark */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: #1b1b1b;
        --gray: #4a4a4a;
    }
}

@font-face
{
    font-family: "Cantarell";
    font-weight: 100 900;
    font-style: normal;
    src: url("/assets/fonts/cantarell-vf.woff2") format("woff2"),
         url("/assets/fonts/cantarell-vf.otf") format("opentype");
}

body
{
    font-family: "Cantarell", sans-serif;
    font-size: 1.2em;
}
h1, h2, h3, b
{
    font-family: "Cantarell", sans-serif;
    font-weight: 800;
}
body, h1, h2, h3, a, b, p, span
{
    background: var(--background);
    color: var(--foreground);
}
/* sections */
header
{
    width: 100%;
    min-height: 15%;
    left: 0;
    text-align: center;
    overflow: hidden;
}
article
{
    left: 25%;
    width: 50%;
    min-height: 50vh;
    margin: auto;
    text-align: left;
    margin-bottom: 10vh;
}
/* footer */
article:after
{
    content: "";
    display: block;
}
footer, article:after { height: 3vh; }
footer
{
    left: 0;
    text-align: center;
    margin-bottom: 2vh;
}

/* special elements */
div#top
{
    margin-top: 3vh;
    margin-bottom: 2vh;
}
a#site
{
    background: transparent;
    color: #000000;
    text-decoration: none;
}
img#logo
{
    display: inline;
    height: 2.2em;
    vertical-align: middle;
    margin-right: 0.2em;
}
h2#title
{
    display: inline;
    font-size: 1.8em;
    vertical-align: middle;
}
nav
{
    font-size: 1.1em;
    margin-bottom: 4vh;
}
nav a,
.selected
{
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin: 0.1em;
    font-weight: 800;
    font-size: 0.9em;
}

article div.post, /* between posts */
article h2.post, h1.post { margin-bottom: -0.5em; } /* between title and date */
article h2.post { margin-left: -0.11em; }

.inline { display: inline; }
div#paginator
{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

/* text */
a
{
    margin-right: 0.1em;
    margin-left: 0.1em;
    transition-duration: 0.3s;
    text-decoration: underline 0.1em;
}
a:hover,
.selected
{
    color: #ffffff;
    background: var(--accent);
    text-decoration: none;
}
a.social, span.mention { white-space: nowrap; }
span.mention
{
    padding: 0.05em;
    border: 0.15em solid var(--foreground);
    background: var(--gray);
}
small { font-size: 0.85em; }
li { margin: 0.8em; }
h2 { margin-top: 4vh; }

/* tablet */
@media only screen and (max-width: 1200px)
{
    article
    {
        left: 15%;
        width: 70%;
    }
    /* mobile */
    @media only screen and (max-width: 768px)
    {
        img#logo { height: 1.9em; }
        h2#title { font-size: 1.6em; }
        
        span.mention { font-size: 60%; }
        article
        {
            left: 5%;
            width: 90%;
        }
        article div.post { margin-bottom: 0em; }
    }
    footer { font-size: 0.9em; }
}
