/* Get fonts */
@font-face {
    font-family: "Cantarell";
    font-weight: 100 900;
    font-style: normal;
    src: url("/assets/fonts/Cantarell-VF.woff2") format("woff2");
    font-display: swap;
}

/* Global settings */
:root {
    --sans: "Cantarell", sans-serif;
    --mono: monospace;
    --text-size: 1.3rem;

    --bold: 800;
    --text-decoration: 0.1em;
    --border-size: 0.1rem;
    --fade-time: 0.3s;
}

/* Global colors */
:root {
    --accent: #3584e4;

    /* Light theme */
    --light-foreground: black;
    --light-background: white;
    --light-gray: #4e4e4e;

    /* Dark theme */
    --dark-foreground: white;
    --dark-background: #1b1b1b;
    --dark-gray: #b4b4b4;

    /* Set default theme to light */
    --foreground: var(--light-foreground);
    --background: var(--light-background);
    --gray: var(--light-gray);
}
/* Auto-apply dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: var(--dark-foreground);
        --background: var(--dark-background);
        --gray: var(--dark-gray);
    }
}

/* Main elements */
body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--sans);
    font-size: var(--text-size);
}

header {
    margin: 2rem auto 1rem auto;
    left: 0;
    min-height: 3vh;
    text-align: center;
}

main {
    margin: 1rem auto 1rem auto;
    left: 25vw;
    min-height: 78vh;
    width: 50vw;
    text-align: left;
}

footer {
    margin: 3rem auto 1rem auto;
    left: 0;
    min-height: 2vh;
    text-align: center;
}

.logo {
    margin-right: 0.2rem;
    display: inline;
    vertical-align: middle;
    height: 2.7rem;
}
.logo g {
    stroke: var(--foreground);
}

.main-menu {
    display: inline;
    vertical-align: middle;
    font-weight: var(--bold);
}
.main-menu a, .selected {
    margin: 0.1rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    font-size: 1.2rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6, b {
    font-weight: var(--bold);
}

small {
    font-size: 0.95rem;
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: var(--text-size);
}

h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem auto 2rem 0;
}

a {
    color: inherit; /* no special highlighting for already clicked links */
    text-decoration: underline;
    text-decoration-thickness: var(--text-decoration);
    transition-duration: var(--fade-time);
}
a:hover, .selected {
    background: var(--accent);
    color: #ffffff;
    text-decoration: none;
}

del {
    text-decoration-thickness: var(--text-decoration);
}

.description {
    font-size: 1.5rem;
    font-weight: lighter;
}

/* Standard classes */
.hidden {
    position: absolute;
    visibility: hidden;
    visibility: hidden;
    margin 0;
    padding: 0;
    height: 0;
    width: 0;
}

.invisible, .invisible:hover {
    background: transparent;
    color: var(--foreground); /* rremove link highlighting */
    text-decoration: none;
}

.image-link:hover {
    background: var(--background);
}
.image-link img {
    height: 2.6rem;
}

/* Post elements */
.preview {
    margin-bottom: 1rem;
}
.preview-title {
    font-size: 1.6rem;
    font-weight: var(--bold);
}

.preview-title + .date {
    margin-top: 0;
}
h2 + .date {
    margin-top: -2rem;
}

li + li {
    margin: 0.8rem auto 0 0;
}

ul {
    margin: 1rem auto 2rem 0;
}

.image { margin: 1rem 0 1rem 0; }
.image-display {
    margin: 0 auto 1rem auto;
    display: block;
    max-height: 25rem;
    max-width: 100%;
}
.image-caption {
    margin: 0 auto 0 auto;
    display: block;
    text-align: center;
    font-style: italic;
}

.book {
    margin-top: 2rem;
    padding-right: 1rem;
    height: fit-content;
    width: fit-content;
}

blockquote {
    margin: 3rem auto 3rem 0;
    border-left: solid 0.3rem var(--gray);
    padding: 0.07rem 0 0.07rem 0;
}
blockquote p {
    margin-left: 1rem;
    color: var(--gray);
    font-style: italic;
    font-size: 1.7rem;
}
blockquote p:last-of-type {
    font-style: normal;
    font-size: 1.2rem;
}

code {
    color: var(--gray);
    font-family: var(--mono);
    font-size: 1.15rem;
}
pre {
    margin: 1rem 2rem 1rem 2rem;
    overflow-x: scroll;
}

.tags-container {
    margin: 0 auto 2rem 0;
    display: inline-block;
}
.tag {
    margin: 0.2rem;
}

hr {
    margin: 2rem 0 2rem 0;
    border-top: solid var(--gray) var(--border-size);
}

.info {
    text-align: center;
}
.info p {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media only screen and (max-width: 750px) { /* Phone */
    .logo {
        height: 3rem;
    }
        
    main {
        left: 5vw;
        min-height: 60vh;
        width: 90vw;
    }
    .preview {
        margin-bottom: 0rem;
    }

    footer {
        margin-bottom: 5vw;
    }
}
