/* fonts */
@font-face {
    font-family: "Cantarell";
    font-weight: 100 900;
    font-style: normal;
    src: url("/assets/fonts/Cantarell-VF.woff2") format("woff2");
    font-display: swap;
}
body { font-family: "Cantarell", sans-serif; }

/* text elements */
h1, h2, h3, h4, b, nav a { font-weight: 800; } /* weight 800 for bold fonts, better compatibility with Safari */

p, li { font-size: 1.3em; }
small { font-size: 0.95em; }

h2 {
    font-size: 2.3em;
    margin: 0 auto -0.5em 0;
}
h3 {
    font-size: 2.1em;
    margin: 1.5em auto 0.5em 0;
}
h4 {
    font-size: 1.5em;
    margin: 1.3em auto 0.5em 0;
}


/* colors */
:root {
    --accent: #3584e4;
    --foreground: black;
    --background: white;
    --gray: #4e4e4e;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: #1b1b1b;
        --gray: #b4b4b4;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}


/* sections */
header {
    width: 95vw;
    min-height: 15vh;
    left: 0;
    text-align: center;
    overflow: hidden;
}
article {
    left: 25vw;
    width: 50vw;
    min-height: 65vh;
    margin: auto;
    text-align: left;
    margin-top: 3vh;
    margin-bottom: 10vh;
}
footer {
    min-height: 2vh;
    left: 0;
    text-align: center;
    margin-bottom: 2vh;
}


/* top with logo and title */
#top { /* link (logo + title) */
    margin-top: 3vh;
    margin-bottom: 2vh;
}
#site { /* link */
    background: transparent;
    text-decoration: none;
    color: var(--foreground); /* remove link highlighting */
}
#logo {
    display: inline;
    height: 2.7em;
    vertical-align: middle;
    margin-right: 0.2em;
}
#logo * { stroke: var(--foreground); } /* theme svg */
#title {
    display: inline;
    font-size: 2.2em;
    vertical-align: middle;
}
#description {
    font-size: 1.5em;
    font-weight: lighter;
}
div.post { margin-bottom: 2em; }
h2.nav { margin-top: 2em; } /* all posts link */
li div { font-size: 0.8em; } /* keep titles in archive same size */

/* navigation */
nav { margin-bottom: 4vh; }
nav a,
.selected {
    padding: 0.1em 0.2em 0.1em 0.2em; /* background not a close to text */
    margin: 0.1em;
    font-size: 1.2em;
}


/* links */
a {
    transition-duration: 0.3s;
    text-decoration: underline 0.1em;
    color: inherit; /* no special highlighting for already clicked links */
}
a:hover,
.selected {
    color: #ffffff;
    background: var(--accent);
    text-decoration: none;
}

/* social */
.social { white-space: nowrap; } /* don't add break before e. g. emojis */

/* lists */
li { margin: 0.8em; }
ul { margin: 2em auto 2em 0; }

/* tablet */
@media only screen and (max-width: 1200px) {
    article {
        left: 15vw;
        width: 70vw;
    }

    footer { font-size: 1em; }
    
    /* mobile */
    @media only screen and (max-width: 768px) {
        #logo { height: 2.4em; }
        #title { font-size: 2.1em; }
        
        article {
            left: 5vw;
            width: 90vw;
            min-height: 60vh;
        }
        div.post { margin-bottom: 0em; }

        footer { margin-bottom: 5vw; }
    }
}
