<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <header>
            {% include navigation.html %}
        </header>
        <main>
            <h2>{{ page.title }}</h2>
            <p class="date">{{ page.date | date_to_string }}</p>
            <p class="description">{{ page.description }}</p>

            <article>
                {{ content }}
            </article>

            <small class="tags-container"><b>Tagged with:</b> {% for tag in page.tags %}<a class="tag" href="/Tag:{{ tag }}">{{ tag }}</a>{% endfor %}</small>

            <hr>

            <div class="info">
                <h3>Reply to this post</h3>
                <p>If you have any thoughts about the contents of this post, email me so we can have a fun little chat about it.</p>
                <p>{% include social.html id="mail" name="Reply by email" extra=page.subject %}</p>
            </div>

            <hr>

            <div class="info">
                <h3>Enjoyed this post?</h3>
                <p>I hope that you have found this post useful in one way or another. I would appreciate your support ❤️</p>
                <p>{% include social.html id="ko-fi" name="Buy me a coffee" %}</p>
            </div>

            <hr>

            <div class="info">
                <h3>Want to not miss a post?</h3>
                <p>That's easy! I provide a RSS feed so you can stay up to date with my blog and what I'm doing ⏳</p>
                <p><a href="/feed.xml">Subscribe via RSS</a></p>
            </div>
        </main>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>
