<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="preload stylesheet" href="/assets/css/blog.css" as="style" type="text/css">
    </head>
    <body>
        <header>
            {% include navigation.html %}
        </header>
        <main>
            <h2>{{ page.title }}</h2>
            <p class="date">{{ page.date | date_to_string }}</p>
            <p class="description">{{ page.description }}</p>

            <article>
                {{ content }}
            </article>

            <small id="tags"><b>Tagged with:</b> {% for tag in page.tags %}<a href="/Tag:{{ tag }}">{{ tag }}</a>{% endfor %}</small>
            <div class="reply">
                <h3>Reply to this post</h3>
                <p>
                    If you have any thoughts about the contents of this post, email me so we can have a fun little chat about it.<br>
                    {% assign re = "Post: " | append: page.title %}<br>
                    {% include social.html url="mail" name="Reply by email" subject=re %}
                </p>
            </div>
        </main>
        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>
