---
layout: default
---

<h2>Tag: {{ page.title }}</h2>

<p class="description">{{ page.description }}</p>

{% assign counter = 0 %}
{% for post in site.posts %}
    {% if post.tags contains page.title %}
        {% include preview.html post=post %}
        {% assign counter = counter | plus: 1 %}
    {% endif %}
{% endfor %}

<small><i>There {% if counter == 1 %}is{% else %}are a total of{% endif %} {{ counter }} {% if counter == 1 %}post{% else %}posts{% endif %} assigned to this <a href="/tags/">tag</a>.</i></small>
