---
layout: page
title: Blogroll
description: This is my blogroll! A list of all blogs I'm reading.
---

<p class="info"><a data-umami-event="nav-opml" href="{{ site.locations.opml }}">↓ OPML</a></p>

<hr>

<ul>
{% for blog in blogroll %}
    <li><b><a id="{{ blog.name | slugify }}" data-umami-event="blogroll-{{ blog.name | slugify }}" href="{{ blog.website }}">{{ blog.name }}</a></b> <a data-umami-event="blogroll-{{ blog.name | slugify }}-feed" href="{{ blog.feed }}">{{ blog.type }} Feed</a></li>
{% endfor %}
</ul>
