---
eleventyExcludeFromCollections: true
permalink: .htaccess
---
# Custom errros
{% for error in errors %}
ErrorDocument {{ error.code }} {{ site.locations.errors }}{{ error.code }}/index.html
{% endfor %}

# Charset
AddCharset UTF-8 .html
AddCharset UTF-8 .css
AddCharset UTF-8 .xml
AddCharset UTF-8 .txt
AddCharset UTF-8 .asc

# Browser cache
ExpiresActive On
ExpiresByType text/css "access plus 1 months"
ExpiresByType image/webp "access plus 5 years"
ExpiresByType image/jpeg "access plus 5 years"
ExpiresByType image/avif "access plus 5 years"
ExpiresByType image/png "access plus 1 months"
ExpiresByType image/svg+xml "access plus 1 months"

# Moved files
Redirect 301 /favicon.ico {{ site.assets.images }}favicon.ico
Redirect 301 /posts /blog
Redirect 301 /feed.rss /feed.xml
Redirect 301 /photos /blog/tags/photography
Redirect 301 /my-linux-journey /blog/my-linux-journey
Redirect 301 /one-webserver-multiple-domains /blog/one-webserver-multiple-domains
Redirect 301 /selfhost-a-fediverse-gotosocial-instance /blog/selfhost-a-fediverse-gotosocial-instance
Redirect 301 /cant-leave-spotify /blog/cant-leave-spotify
Redirect 301 /my-app-defaults-because-everyone-is-doing-them /blog/my-app-defaults-because-everyone-is-doing-them
Redirect 301 /increasing-this-blogs-readability /blog/increasing-this-blogs-readability
Redirect 301 /personal-preferences-and-technology /blog/personal-preferences-and-technology
Redirect 301 /gentoo-has-been-bugging-me /blog/gentoo-has-been-bugging-me
Redirect 301 /it-has-become-difficult-to-make-contributions-to-openstreetmap /blog/it-has-become-difficult-to-make-contributions-to-openstreetmap
Redirect 301 /how-to-configure-automatic-updates-on-fedora-with-email-reports /blog/how-to-configure-automatic-updates-on-fedora-with-email-reports
Redirect 301 /gallery /blog/tags/photography
Redirect 301 /categories /blog/tags
Redirect 301 /search /blog/tags
Redirect 301 /tags /blog/tags
