---
eleventyExcludeFromCollections: true
permalink: /robots.txt
---
User-agent: *
Disallow: /errors
Sitemap: {{ site.url }}/sitemap.xml

{% for crawler in bad_crawlers %}
User-agent: {{ crawler }}
Disallow: /
{% endfor %}

{% for post in collections.post %}
{% if post.data.index == false %}
User-agent: *
Disallow: {{ post.url }}
{% endif %}
{% endfor %}
