---
layout: page
title: Tags
description: A list of all tags used by my blog.
permalink: "{{ site.locations.tags }}"
---

<ul>
{% for tag, posts in collections %}
    {% if tag != "all" and tag != "post" %}
    <li><a data-umami-event="{{ tag | slugify }}" href="{{ site.locations.tags }}{{ tag }}">{{ tag | capitalize }}</a></li>
    {% endif %}
{% endfor %}
</ul>
